<div class="profile">
  <div class="basic">
    <div class="dp">
      <img src="../../assets/images/pic.png">
    </div>
    <div class="info">
      <p><i class='fa fa-user-circle-o text-default'></i><span class="m-l-sm">Name: Digender Mahara</span></p>
      <p><i class='fa fa-black-tie text-primary'></i><span class="m-l-sm">Designation: Senior Frontend Developer</span></p>
      <p><i class='fa fa-briefcase text-warning'></i><span class="m-l-sm">Employer: Teamware Solutions</span></p>
      <p><i class='fa fa-bank text-success'></i><span class="m-l-sm">Client: Morgan Stanley</span></p>
      <p><i class='fa fa-map-marker text-danger'></i><span class="m-l-sm">Location: Mumbai</span></p>
      <div><a class='btn btn-md btn-primary'  routerLink="/cv">Curriculum Vitae</a></div>
    </div>
  </div>
</div>
