/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import '~font-awesome/css/font-awesome.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&display=swap');
body, html {
  height: 100%;
}

app-root {
  background: #fff;
  font-family: 'Open Sans', sans-serif !important;
  background-color: #111;
}

.info {
  h1 {
    font-family: "IvyMode Reg", sans-serif
  }
}

.m-l-xs {
  margin-left: 5px;
}

.m-l-sm {
  margin-left: 10px;
}

.inline {
  display: inline-block !important; }

.rating .active {
  color: #007bff !important; }

.text-xs {
  font-size: 11px; }

.text-sm {
  font-size: 12px; }

.text-md {
  font-size: 14px; }

.text-lg {
  font-size: 16px; }

.text-xlg {
  font-size: 18px; }

ul {
  margin-left: -15px; }

.main {
  border-left: 1px solid #ddd;
  padding-left: 20px; }

.circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: 1px solid #bbb;
  background: #fff;
}

/* This CSS resource incorporates links to font software which is the
   valuable copyrighted property of Type Network, Inc. and/or their
   suppliers. You may not attempt to copy, install, redistribute,
   convert, modify or reverse engineer this font software. Please
   contact Type Network with any questions: www.typenetwork.com */




   @font-face {
    font-family: "IvyMode Reg";
    font-display: swap;
    font-weight: normal;
    font-style: normal;

    src: url("//cloud.typenetwork.com/projectLicenseWeb/16168/fontfile/eot/?5a135b4562e0c910f47b003d9f53c360cacf05b7");
          src: url("//cloud.typenetwork.com/projectLicenseWeb/16168/fontfile/eot/?5a135b4562e0c910f47b003d9f53c360cacf05b7#iefix") format("embedded-opentype"),
               url("//cloud.typenetwork.com/projectLicenseWeb/16168/fontfile/woff2/?5a135b4562e0c910f47b003d9f53c360cacf05b7") format("woff2"),
               url("//cloud.typenetwork.com/projectLicenseWeb/16168/fontfile/woff/?5a135b4562e0c910f47b003d9f53c360cacf05b7") format("woff");

  }
