.home {
  background-color: #f7f4f2;
  color: #334;
  font-weight: bold;
  display: flex;
  flex-direction: row;

  .display {
    flex: 3;
    height: 100vh;
  }

  .sidebar {
    flex: 1;
    display: flex;
    border-right: 1px solid #ccc;
    justify-content: center;
    align-items: center;
    .img-holder {
      margin-right: -12px;
      border-right: 10px solid #ddd;
      width: 100%;
    }
    img {
      border-radius: 50%;
      width: 200px;
    }
  }

  @media only screen and (max-width: 640px) {
    .sidebar {
      display: none;
      img {
        border-radius: 50%;
        width: 100px;
      }
    }

    .display {
      display: flex;
      align-items: center;
      text-align: center;;
      height: 100vh;
    }
  }
}
